* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://cdn.shopify.com/s/files/1/0569/6090/9499/files/Ceramic_12.png?v=1636528863);
}

a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 0px 17px;
}

span {
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #1a1a1a;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container1 img{
  height: 40px;
}

.container1 {
  position: fixed;
  padding: 0.5rem 5rem;
  z-index: 9999;
  background-color: black;
  width: 100%;
  display: flex;
  margin: auto;
  max-width: 100%;
  justify-content: space-between;
}

.container1 .second {
  padding-top: 10px;
  padding-left: 16rem;
}

.container1 .nav a {
  padding-top: 10px;
}

.container1 .nav a:hover {
  color: #b57655;
  transition: 1s;
}

.shop-cart{
  position: absolute;
  top: 0;
  right: 0;
}

.cartt{
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  padding: 0px 5px;
  font-size: 10px;
}

.main{
    background: url(../images/img23.jpg) center top no-repeat fixed;
    padding: 110px 0 80px;
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    margin: 0 0 80px;
}

.main::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: .6;
}

.main h1{
    color: white;
    position: relative;
    z-index: 2;
    font: 36px "Frank Ruhl Libre", serif;
}

.main h5 {
    color: white;
    font-size: 16px;
    position: relative;
    z-index: 2;
    padding-top: 10px;
}

.main h5 a:hover{
    color: #b57655;
    transition: 1s;
}

.login{
    padding: 30px;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-flow: column;
    background-color: #f7f7f7;
    border-radius: 0px;
    text-align: center;
}

.login input {
    width: 100%;
    height: 50px;
    margin-top: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    padding-left: 20px;
  }
  
  .login input:focus {
    outline: none;
    border: 1px solid #b57655;
  }

  #btn {
    color: white;
    font: 17px "Frank Ruhl Libre", serif;
    padding-top: 20px;
    padding-left: 1rem;
    text-align: left;
  }
  
  #btn button {
    width: 20%;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    transition: 0.3s;
  }
  
  #btn button:hover {
    background-color: #b57655;
  }

  .sections{
    display: flex;
    padding-top: 1rem;
  }

#return a{
    color: #795c4d;
    font: 19px "Frank Ruhl Libre", serif;

}

#return a:hover{
    color: #1a1a1a;
    transition: 0.5s;
}

#signup h2 {
  color: #1a1a1a;
  font: 34px "Frank Ruhl Libre", serif;
}

#signup h2 a {
  color: #795c4d;
  font: 34px "Frank Ruhl Libre", serif;
  font-style: italic;
}

#signup h2 a:hover {
  color: #1a1a1a;
  transition: 0.5s;
}

#social a i {
  color: #b57655;
  width: 30px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
}

#flogo img {
  width: 50%;
}

#signup {
  text-align: center;
}

#signup input {
  height: 40px;
  display: block;
  margin: 0;
  width: 95%;
  border: 1px solid #e0e0e0;
  padding-left: 15px;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 10px;
}

.signup{
  padding: 100px 0 0 0;
}  

#signup button {
  color: white;
  background-color: #1a1a1a;
  margin-right: auto;
  height: 40px;
  width: 95%;
  margin-left: 1rem;
  font: 15px "Frank Ruhl Libre", serif;
  padding-top: 5px;
  border: none;
}

#signup button:hover {
  background-color: #795c4d;
  transition: 0.5s;
}

.footer {
  display: flex;
  padding-top: 5rem;
}

#help h5 {
  color: #1a1a1a;
  font: 22px "Frank Ruhl Libre", serif;
  font-weight: 600;
  padding-bottom: 1rem;
}

#help a {
  color: #1a1a1a;
  font: 17px Poppins, sans-serif;
  display: block;
  padding-bottom: 8px;
}

#help a:hover {
  color: #795c4d;
  transition: 0.5s;
}



#information h5 {
  color: #1a1a1a;
  font: 22px "Frank Ruhl Libre", serif;
  font-weight: 600;
  padding-bottom: 1rem;
}

#information a {
  color: #1a1a1a;
  font: 17px Poppins, sans-serif;
  display: block;
  padding-bottom: 8px;
}

#information a:hover {
  color: #795c4d;
  transition: 0.5s;
}

#contact h5 {
  color: #1a1a1a;
  font: 22px "Frank Ruhl Libre", serif;
  font-weight: 600;
  padding-bottom: 1rem;
}


#contact h6 {
  color: #1a1a1a;
}

#contact p {
  color: #1a1a1a;
}

.end {
  text-align: center;
  padding-top: 5rem;
}

.end p {
  color: #1a1a1a;
  font: 16px Poppins, sans-serif;
}

.end p a {
  color: #1a1a1a;
  font: 16px Poppins, sans-serif;
}

.end p a:hover {
  color: #795c4d;
  transition: 0.5s;
}